body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("https://images.unsplash.com/photo-1552083375-1447ce886485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

#indexTextHolder {
    float: right;
    margin-top: 10%;
    margin-right: 10%;
    width: 200px;
}

#indexInput {
    outline: none;
    height: 30px;
    font-size: 17px;
    width: 188px;
    padding: 0px;
    position: absolute;
    border-color: gray;
    border-radius: 3px;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

#overlappingDivInput {
    height: 32px;
    width: 200px;
    background-color: #00c5e5;
    opacity: 50%;
    pointer-events: none;
    border-color: transparent;
    border-radius: 3px;
    border-width: 1px;
}