body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("https://images.unsplash.com/photo-1552083375-1447ce886485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

#indexTextHolder {
    float: right;
    margin-top: 10%;
    margin-right: 10%;
    width: 200px;
}

#indexInput {
    outline: none;
    height: 30px;
    font-size: 17px;
    width: 144px;
    padding: 0px;
    position: absolute;
    border-color: gray;
    border-radius: 15px;
    border-width: 0px;
    padding-left: 31px;
    padding-right: 5px;
    transition: all 0.3s ease;
}

#overlappingDivInput {
    height: 30px;
    width: 30px;
    background-color: #00c5e5;
    pointer-events: none;
    opacity: 100%;
    border-color: transparent;
    border-radius: 15px;
    border-width: 0px;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
}

#enterText {
    color: black;
    text-shadow: 0 0 5px white;
    opacity: 0%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin: auto;
}