html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1552083375-1447ce886485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

#indexTextHolder {
    float: right;
    margin-top: 150px;
    right: 0;
    margin-right: 15%;
    width: 240px;
}

/* doch nicht benötigt

#indexInput { input
    outline: none;
    height: 30px;
    font-size: 17px;
    width: 144px;
    padding: 0px;
    position: absolute;
    border-color: gray;
    border-radius: 15px;
    border-width: 0px;
    padding-left: 31px;
    padding-right: 5px;
    transition: all 0.3s ease;
    margin-top: 5px;
}

#overlappingDivInput { div
    height: 30px;
    width: 30px;
    background-color: #00c5e5;
    pointer-events: none;
    opacity: 100%;
    border-color: transparent;
    border-radius: 15px;
    border-width: 0px;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    margin-top: 5px;
}
#overlappingDivInput:hover {
    background-color: #00b0e5;
}

#enterText { p in div
    color: black;
    text-shadow: 0 0 4px white;
    opacity: 0%;
    text-align: center;
    font-size: 18px;
    margin: auto;
    user-select: none;
}*/

#btnEinleitung {
    width: 150px;
    margin-top: 10px;
    margin-left: 25px;
}

#footerLogo {
    float: left;
    width: 50px;
    height: 50px;
}

#footerText {
    float: left;
    margin: auto 0px auto 10px;
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 3px white;
}

#startFooter {
    float: left;
    height: 50px;
    margin-left: 30px;
    display: flex;
    position: absolute;
    margin-top: calc(100vh - 70px);
}

#textContainer {
    float: left;
    position: absolute;
    margin-top: calc(100vh + 70px);
    width: calc(100% - 500px);
    margin-left: 250px;
    height: calc(100vh - 70px);
}



@media only screen and (max-width: 1000px) {
    #textContainer {
        width: calc(100% - 200px);
        margin-left: 100px;
    }
}

@media only screen and (max-width: 800px) {
    #indexTextHolder {
        float: right;
        margin-right: 0%;
    }
}

@media only screen and (max-width: 500px) {
    #textContainer {
        width: calc(100% - 20px);
        margin-left: 10px;
    }
}

@media only screen and (max-height: 400px) {
    #indexTextHolder {
        margin-top: 60px;
    }
}