body {
    background-image: linear-gradient(200deg, lightgreen, var(--mcfp-blue));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

iframe {
    width: calc(100% - 25px);
    margin-left: 10px;
    margin-top: 5px;
    height: calc(100% - 15px);
}

@media only screen and (max-width: 900px) {
    iframe {
        width: calc(100% - 15px);
        margin-left: 5px;
    }
}